::-webkit-scrollbar {
  width: 13px;
}
.chakra-ui-dark {
  --scrollbar-track: #1a202c;
  --scrollbar-thumb: #2d3748;
  --scrollbar-hover: #4a5568;
}
.chakra-ui-light {
  --scrollbar-track: #faf5ff;
  --scrollbar-thumb: #9ae6b4;
  --scrollbar-hover: #68d391;
}
::-webkit-scrollbar {
  &-track {
    background: var(--scrollbar-track);
  }
  &-thumb {
    background: var(--scrollbar-thumb);
  }
  &-thumb:hover {
    background: var(--scrollbar-hover);
  }
}
body {
  overflow-y: scroll;
}
